@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-darkblue {
    background-color: #1a344f;
}

.bg-lightgreen {
    background-color: #1cd1b2;
}

.text-dao {
    color: #1cd1b2 !important;
}

@font-face {
    font-family: font-bold;
    src: url('/fonts/negrita.otf') format("opentype");
}

@font-face {
    font-family: font-light;
    src: url('/fonts/light.otf') format("opentype");
}

.font-bold {
    font-family: font-bold;
}

.font-light {
    font-family: font-light;
}
