@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-darkblue {
    background-color: #1a344f;
}

.bg-lightgreen {
    background-color: #1cd1b2;
}

.text-dao {
    color: #1cd1b2 !important;
}

.text-blackdao {
    color: #1a344f !important;
}

.bg-faq {
    background-color: #1e3c5d !important;
}

@font-face {
    font-family: font-boldao;
    src: url('/fonts/negrita.otf') format("opentype");
}

@font-face {
    font-family: font-lightdao;
    src: url('/fonts/medium.ttf') format("truetype");
}



.font-boldao {
    font-family: font-boldao;
}

.font-lightdao {
    font-family: font-lightdao;
}




